---
extension: html
filter:    haml
---
!!!
%html
  %head
    %meta{:"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}/
    %meta{:"name" => "author", :content => @page.author}/
    %meta{:name=>"verify-v1", :content=>"i/cbJtXe1ZDIZNta65CghwcRM/zFMRHIsbR9poU+uwU="}/
    %title= @page.nil? ? @page.title+" : Tony Pitale" : "Tony Pitale"
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %link{:rel=>"alternate", :type=>"application/rss+xml", :href=>"http://feeds.feedburner.com/tpitale", :title=>"Atom feed"}
    
    / Site CSS
    %link{:rel=>"stylesheet", :href=>"/css/base.css", :type=>"text/css", :media=>"screen, projection"}/
  %body
    #header
      %h1 Tony Pitale
      %ul
        %li
          = link_to('Home', '/')
        %li
          = link_to('Blog', '/blog.html')
    #content
      = @content

    #footer
      .wrap
        %p.about
          I've been called many things:
          = link_to("Developer,", "http://www.github.com/tpitale")
          = link_to("Hokie,", "http://www.vt.edu")
          = link_to("Viget Lab Rat,", "http://www.viget.com")
          = link_to("Photographer,", "http://www.flickr.com/photos/thatdbeme/")
          = link_to("Orator", "http://www.twitter.com/hibiscus4")
          and some other names, too gruesome to repeat.
        %p.copyright
          © 2009
          = link_to("Tony Pitale", "mailto:tpitale@gmail.com")
        %p.ps
          Okay, so &ldquo;Orator&rdquo; might be pushing it.
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/main.js"}
      
    / Google
    %script{:type=>"text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type=>"text/javascript"}
      var pageTracker = _gat._getTracker("UA-3879168-1");
      pageTracker._initData();
      pageTracker._trackPageview();